{% extends 'base.html.twig' %}

{% block title %} - Ajouter un livre {% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="comment-form-wrap pt-5 my-form">
      <h3 class="mb-5">Ajouter un livre</h3>
      <form action="#" class="p-5 bg-light">
        <div class="form-group">
          <label for="name">Titre *</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="prix">Prix *</label>
          <input type="number" class="form-control" id="prix">
        </div>

        <div class="form-group">
          <label for="auteur">Auteur</label>
          <div class="select-wrap">
              <select class="form-control" name="auteur" id="auteur">
                  {% for auteur in auteurs %}
                    <option value="{{ auteur.id }}">{{ auteur.prenom }} {{ auteur.nom }}</option>
                  {% endfor %}
              </select>
          </div>
        </div>

        <div class="form-group">
          <label for="message">Message</label>
          <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Valider" class="btn py-3 px-4 btn-primary">
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}
