.rating {
    margin: 0;
    padding: 0;
}

.rating li {
    color: #ffd200;
    font-size: 13px;
    display: inline-block;
}

.rating li.disable {
    color: #dcdcdc;
}

.book-title {
    height: 3em;
}

.filter-genre {
    padding: 0 0 2em 1em;
    margin: 0;
}

.filter-genre li {
    list-style: none;
}

.commentaire .name-and-rating {
    margin-bottom: 1em;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.commentaire {
    margin-bottom: 1em;
}

.comment-section {
    width: 100%;
}

.avis-section {
    padding-top: 0;
}

.commentaire .meta {
    margin-bottom: 1em;
    color: #bcbcbc;
}

.navbar {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.breacrumb-section {
    margin-top: 2em;
    margin-bottom: 1em;
}

.side-menu {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding-top: 1em;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.tendancy-product .img-prod {
    height: 25em;
}

.genre-product .img-prod {
    height: 18em;
}

.filter-widget .fw-brand-check .bc-item {
	margin-bottom: 3px;
}

.filter-widget .fw-brand-check .bc-item a {
	position: relative;
	cursor: pointer;
	padding-left: 28px;
}

.filter-widget .fw-brand-check .bc-item .checked span {
	background: #82ae46;
	border: 2px solid #82ae46 !important;
}

.filter-widget .fw-brand-check .bc-item a .checkmark {
	position: absolute;
	left: 0;
	top: 5px;
	height: 15px;
	width: 15px;
	border: 2px solid #898989;
	border-radius: 2px;
}

.filter-widget .fw-brand-check .bc-item a .checkmark:after {
	left: 1px;
	top: 0;
	width: 9px;
	height: 8px;
	border: solid white;
	border-width: 3px 3px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
}

.filter-widget {
    margin-top: 1em;
}

.checkmark:after {
    position: absolute;
    content: "";
}

.bc-item {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.saga-title a {
    color: gray
}

.badge-primary {
    background-color: #82ae46;
    height: fit-content;
}

#saga, #tendances {
    padding-top: 2em;
}

.ftco-section {
    padding: 1em 0;
}

.my-form {
    width: 100%;
    margin: 2em;
}

.table tbody tr td.image-prod .img {
    height: 150px
}

.my-cart .form-control:focus {
    border-color: #82ae46;
    outline: 0;
}

.comment-form-wrap {
    margin-top: 2em;
}

.row-form {
    display: inline-flex;
    width: 100%;
    margin: 0;
}

.message-row .col-12 {
    height: 7em;
    padding: 0;
    margin-bottom: 4em;
}

.btn-add {
    margin: 2em 0;
}

.btn.isDisabled {
  cursor: not-allowed !important;
  opacity: 0.5;
  text-decoration: none;
}

.btn.isDisabled:hover {
    background: #000000;
    border: 1px solid #000000;
}

.search-form .form-group .submit{
    background: #82ae46;
    color: white;
}
