{% extends 'back/index.html.twig' %}

{% block backContent %}
<div class="row justify-content-center">
  <div class="col-md-12 heading-section text-center ftco-animate">
    <h2>Livraisons en cours</h2>
  </div>
</div
<div class="card-box">
    <table id="datatable" class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date Commande</th>
                <th>Livrée</th>
            </tr>
        </thead>

        <tbody>
        {% for livraison in livraisons %}
        {% if livraison.statut == "En cours"%}
        <tr {% if "now" |date('d') - livraison.dateCommande|date('d') > 2 %} style="background-color: rgba(173, 76, 52, 0.2);" {% endif %}>
            <td>{{livraison.id}}</td>
            <td>{{livraison.dateCommande|date('d/m/Y')}}</td>
            <td>
                <a href="{{ path('delivered', {'id': livraison.id })}}">Confirmer livraison</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
