{% extends 'base.html.twig' %}

{% block title %} - Mes Commandes{% endblock %}

{% block body %}
<section class="ftco-section ftco-cart my-cart">
    <div class="container">
        <div class="row">
        <h2 class="mb-4">Mes commandes</h2>
        {% if utilisateur.livraisons|length == 0 %}
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h4>Vous n'avez passé aucunes commandes</h4>
        </div>
        {% else %}
        <div class="col-md-12 ftco-animate">

            <div class="cart-list">
                <table class="table">
                    <thead class="thead-primary">
                      <tr class="text-center">
                        <th>Numéro</th>
                        <th>Détails</th>
                        <th>Montant</th>
                        <th>Statut</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for commande in utilisateur.livraisons %}
                            {% set total = 0 %}
                            {%for detail in commande.detailLivraisons %}
                            {% set total = total + detail.livre.prix * detail.quantite %}
                            {% endfor %}
                            {% if total != 0 %}
                          <tr class="text-center">
                            <td class="total">
                                {{ commande.id }}
                            </td>
                            <td class="product-name">
                                <h3><a href="{{ path('livraison_edit', {'id': commande.id })}}">voir détails</a></h3>
                            </td>
                            <td class="total">
                                {{ total }}€
                            </td>
                            <td class="product-name">
                                {{ commande.statut }}
                            </td>
                          </tr><!-- END TR-->
                          {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
          </div>
          {% endif %}
      </div>
    </div>
</section>
{% endblock %}
